#details-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

#details-box {
    background-color: antiquewhite;
    width: 20em;
    height: 20em;
}